[Desktop Entry]
Type=Application
Name=Boot Log Viewer
Name[fr]=Log de démarrage
Name[pt]=Visualizar log de boot
Name[pt_BR]=Visualizar log de boot
Name[ru]=Журнал загрузки
Exec=bootlog box
Icon=utilities-log-viewer
Categories=System;Monitor;
