[Desktop Entry]
Encoding=UTF-8
Name=Show Boot Log
Exec=xterm -hold -title 'boot.log (shift-pgup/pgdn to scroll)' -e 'si=`cat /var/log/dmesg.log /var/log/boot.log | wc -l`; cat /var/log/dmesg.log /var/log/boot.log | head -$(($si-1))'
Icon=other.png
Type=Application
Categories=System;
