[Desktop Entry]
Encoding=UTF-8
Name=Show Boot Log
Exec=xterm -hold -e 'si=`cat /var/log/boot.log | wc -l`; sh=$(($si-1)); head -$sh /var/log/boot.log'
Icon=other.png
Type=Application
Categories=System;
